<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

<!-- Context-Param permet le chargement des fichiers de définition et configuration des Beans Spring -->

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/service-beans.xml
			/WEB-INF/dao-beans.xml
		</param-value>
	</context-param>

<!--Le filtre CORSFilter permet la configuration des paramètres des sécurité permettant aux Web Services d'
être consommés par un client distant-->

	<filter>
		<filter-name>cors</filter-name>
		<filter-class>biz.ixxi.proxi.util.CORSFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>cors</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- Le ContextLoaderListener permet le chargement du context à partir des fichiers de configuration des Beans Springs
(définis dans Context-Param) -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

<!-- La DispatcherServlet gère l'aiguillage des appels aux Web Services par URL -->

	<servlet>
		<servlet-name>springrest</servlet-name>
		<servlet-class> org.springframework.web.servlet.DispatcherServlet </servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springrest</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>



</web-app>
